@import "../../global.sass"
.search-wrapper
  background: #EAEAEA
.filters
  +desktop
    padding-top: 56px
  &__toggle
    background: #23A9F6 url('./sortingIcon.svg') no-repeat center
    border-radius: 10px
    width: 64px
    height: 48px
    border: none
    margin: 16px auto 16px auto
    +desktop
      display: none
      
  &__wrapper
    display: none
    +desktop
      display: flex
      background: white
      height: 100%