.footer
  &__mobile-app
    position: relative
    padding-top: 24px
    padding-bottom: 48px
    background: linear-gradient(132.6deg, #00B0DE 0%, #196EBD 100%)
    &__text
      font-family: Roboto
      font-style: normal
      font-weight: 500
      line-height: normal
      font-size: 24px
      text-align: center
      color: #FFFFFF
    &__rating
      font-family: Roboto
      font-style: normal
      font-weight: normal
      line-height: 20px
      font-size: 14px
      color: #FFFFFF
      text-align: center
      margin-top: 16px
    &__iphone-pic
      position: absolute
      width: 160px
      bottom: 0px
      left: 0px
    &__links
      display: flex
      flex-direction: column
      margin: 56px 8px 0px 55%

      &__link
        font-family: Roboto
        font-style: normal
        font-weight: normal
        line-height: 24px
        font-size: 14px
        color: #FFFFFF
        margin-top: 16px
        display: flex
        text-decoration: none
        &__img
          align-self: center
          padding-right: 8px
  &__footer-cards
    padding-bottom: 24px
    border-bottom: 1px solid #E0E6E8
    &__card
      &__title
        margin-top: 32px
        font-family: Roboto
        font-style: normal
        font-weight: 500
        line-height: 16px
        font-size: 12px
        color: #4A4A4A
        margin-bottom: 16px
        text-transform: uppercase
      &__destination
        display: block
        font-family: Roboto
        font-style: normal
        font-weight: normal
        line-height: 16px
        font-size: 12px
        color: #5B5B5C
        text-decoration: none
        margin-top: 12px
      &__more
        display: block
        font-family: Roboto
        font-style: normal
        font-weight: 500
        line-height: 16px
        font-size: 12px
        color: #4A4A4A
        text-decoration: none  
        margin-top: 16px
  &__menu
    padding: 24px 0 24px 0
    &__links
      display: flex
      flex-wrap: wrap
      width: 80%
      &__link
        font-family: Roboto
        font-style: normal
        font-weight: normal
        line-height: 16px
        font-size: 12px
        color: #5B5B5C
        margin-right: 4px
        margin-top: 8px
        text-decoration: none
    &__socials
      display: flex
      flex-wrap: wrap
      justify-content: flex-start
      margin-top: 16px
      &__link
        flex-basis: 27%
        display: flex
        font-family: Roboto
        font-style: normal
        font-weight: normal
        line-height: 16px
        font-size: 12px
        color: #4A4A4A
        text-decoration: none
        margin-right: 16px
        margin-top: 12px
        &__image
          margin-right: 4px
          align-self: center
    &__text
      font-family: Roboto
      font-style: normal
      font-weight: normal
      line-height: 16px
      font-size: 12px
      text-align: center
      color: #5B5B5C
      margin-top: 24px
    &__buttons
      margin: 0 auto
      display: flex
      flex-direction: column
      align-items: center
      &__button
        margin-top: 8px
        width: 120px